main{
    background: url('../img/background.png');
    background-size: cover;
    background-attachment: fixed;
    /* height: 100%; */
    width: 100%;
    padding: 0 0 5% 0;
}

.titleN {
    font-size: 1.6vw !important;
    line-height: 1.7;
    padding: 1% !important;
}

h2 {
    font-size: 1.2vw;
    text-align: center;
}

main > section {
    display: grid;
    grid-template-columns: 30%;
    justify-content: center;
}

button {
    font-size: 1.6rem !important;
}

@media only screen and (max-width: 700px) {
    main > section {
        grid-template-columns: 45%;
    }
}